@media only screen and (max-width: 768px) {
  .submit {
    /* width: 100%; */
  }
  .main__top--h2 {
    font-size: 8rem;
    margin: 0;
  }
  .main__top{
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
    .main__top--h2 {
        font-size: 6rem;
      }
    .form {
    grid-template-areas:
      "name name name name name name"
      "mail mail mail mail mail mail"
      "tel tel tel tel tel tel"
      "subject subject subject subject subject subject"
      "serv serv serv serv serv serv"
      "text text text text text text"
      ". but but but but .";
  }
  .form--i {
    flex-direction: row;
    align-items: start;
    margin: 1rem;
  }
  .submit {
    margin: 1rem;
  }
  input,
  select,
  textarea {
  }
  label {
    width: 30%;
  }
}
@media only screen and (max-width: 490px) {
    .main__top--h2 {
        font-size: 5rem;
      }
    .form--i {
    flex-direction: column;
    align-items: start;
    margin: 1rem;
  }
  .submit {
    margin: 1rem;
  }
}
