@media only screen and (max-width: 1528px) {
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
  .main__top {
    background-attachment: initial;
    background-size: cover;
  }
  .main__top--h3 {
    font-size: 5.5rem;
    margin-left: 3rem;
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .main__top {
    height: 50vh;
  }
  .form__top--input {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .main__top{
  background-attachment: fixed;
  }  
  .main__top--h2 {
    font-size: 9vw;
    margin: 0 auto;

  }
  .main__top--h3 {
    font-size: 4.5rem;
  }
  .form__top {
    width: 80%;
  }
  .form__top--input {
    width: 50%;
  }
  .form__mid {
    width: 80%;
  }
  .form__bot--input {
    font-size: 1.2rem;
    width: 30%;
    height: 10%;
  }
  .form__bot {
    width: 80%;
  }
  .form-font {
    font-size: 1.7rem;
  }
  .form-font-h3 h3{
    text-align: center;
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 350px) {
  .main__top {
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
    .main__top--h2 {
    font-size: 4rem;
  margin-left: 0;

  }
  .main__top--h3 {
    width: 80%;
  margin-left: 0;


  }
  .form__top--input{
    width: 50%;
  }
  #bdate{
      font-size: 1.2rem;
  }
  .form__top--cv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .form__top--cv :nth-child(1) {
    padding: 1rem;
  }
  .form__top--cv :nth-child(2) {
      align-self: flex-start;
      width: 100%;
  }

  .form-font-h3 {
    font-size: 1.8rem;
  }
  #file {
    font-size: 1.3rem;
  }
  .form-font-h3 h3{
    text-align: center;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 250px) {
    #bdate{
        font-size: 1rem;
    }
  .form-font-h3 {
    font-size: 1.4rem;
  }
  .form-font {
    font-size: 1.4rem;
  }
  #file {
    font-size: 1rem;
  }
}
